!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
	/ <![endif]
	%head
		%meta{:charset => "utf-8"}/
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
		%title
			= yield_content(:title)
			| Valerie Merchant
		%meta{:content => "width=device-width", :name => "viewport"}/

		/ Le Styles
		%link{ :href => "#{css_dir}/vmerch.less", :rel => "stylesheet" }/
		%link{ :href => "#{css_dir}/colorbox.css", :rel => "stylesheet" }/

	%body
		%header.container
			.row
				%h1.span8
					%a{ :href => '/' }
						%img{ :src => "#{images_dir}/logo.png", :alt => '' }
				.span4.say_hello
					%a{ :href => 'mailto:hello@vmerch.me' }
						Say <span>hello</span>@vmerch.me

		.container
			%nav.clearfix
				%ul.unstyled.pull-right
					%li= link_to 'Web', '/web.html'
					%li= link_to 'Print', '/print.html'
					%li= link_to 'Illustration', '/illustration.html'
					%li= link_to 'Tangibles', '/tangibles.html'
					%li= link_to 'Resume', '/resume.html'

			%h1= yield_content(:title)
			= yield

	%footer.container
		&copy; Valerie Merchant
		= Time.now.strftime("%Y")

	/
		Le javascript
		==================================================
	%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
	:javascript
		window.jQuery || document.write('<script src="#{js_dir}/jquery.1.8.2.min.js"><\/script>')
	%script{:src => "#{js_dir}/jquery.colorbox-min.js"}

	/ Colorbox
	:javascript
		if ($(".colorbox").length > 0) {
			$(".thumbnail").colorbox({rel:"thumbnail"});
		}
