!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
	/ <![endif]
	%head
		%meta{:charset => "utf-8"}/
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
		%title Valerie Merchant
		%meta{:content => "width=device-width", :name => "viewport"}/

		/ Le Styles
		%link{ :href => "css/vmerch.less", :rel => "stylesheet" }/

	%body
		%header.container
			.row
				%h1.span8
					%a{ :href => '/' }
						%img{ :src => '/img/logo.png', :alt => '' }
				.span4.say_hello
					%a{ :href => 'mailto:hello@vmerch.me' }
						Say <span>hello</span>@vmerch.me

		.container
			%nav.clearfix
				%ul.unstyled.pull-right
					%li= link_to 'Web', '#'
					%li= link_to 'Print', '#'
					%li= link_to 'Illlustration', '#'
					%li= link_to 'Tangiables', '#'
					%li= link_to 'Resume', '#'

			= yield

	%footer.container
		&copy; Valerie Merchant
		= Time.now.strftime("%Y")
